// Colors
$primary: #1C66FF;
$primary-light: #EDF3FF;
$bg-color: #ffffff;
$text-color: #22272D;
$dark: #222B32;
$grey: #737D86;
$grey-light: #d7dce0;
$grey-lighter: #F2F5F8;
$danger: #FF3541;
$danger-light: #FFEFF0;

// Fonts
$font-family-base: 'Poppins', sans-serif;

// Font-sizes
$font-size-base: 18px;
$font-size-lg: 24px;
$font-size-sm: 14px;
