.app {
  display: flex;
  flex-direction: row;
  padding: 32px;
  max-width: 1440px;
  margin: auto;
  gap: 32px;
}

@media(max-width:680px) {
  .app {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}